.cart {
    text-align: center;
}

.item {
    text-align: left;
    max-width: 43.75rem;
    height: 15.625rem;
    box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 0 auto;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.item img {
    max-width: 200px;
}

.description p {
    font-size: 1.8rem;
}

.description span {
    display: inline-block;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.counter input {
    max-width: 4rem;
    text-align: center;
    font-weight: 700;
}

.checkout button {
    padding: .8rem 1.8rem;
    background-color: rgb(19, 19, 19);
    color: white;
    border: none;
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
}
